.footer {
    background-color: rgb(37, 37, 37);
}

.footer__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__list {
    display: flex;
}

.social__item {
    &:not(:last-child) {
        margin-right: 20px;
    }
}