.header {
	position: fixed;
	width: 100%;
	background-color:rgba(37, 37, 37);
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #9db022;

	z-index: 10;
	&__inner {
		display: flex;
		align-items: center;
	}
}

.logo {
	
	margin-right: auto;

	&__link {
		display: flex;
		align-items: flex-start;
	}

	&__img {
		width: 70px;	
	}

	&__caption {
		font-family: "Alegreya";
		color: #9db022;
		font-weight: 400;
		font-size: 24px;
		line-height: 58%;
		text-transform: uppercase;
		margin-left: -20px;
		margin-top: 5px;
	}
}

.menu {

	margin-right: 50px;

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__link {
		font-family: "Alegreya";
		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		color: #fff;
		letter-spacing: 1.5px;
	}
}

.submenu {
	&__list {
		display: none;
	}
}

.profile {
	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		border: 1px solid #9db022;
		border-radius: 8px;
	}

	&__img {
		width: 25px;
		height: 25px;
	}
}

.burger {
	display: none;
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .hamRotate.active {
	transform: rotate(45deg);
  }
  .hamRotate180.active {
	transform: rotate(180deg);
  }
  .line {
	fill:none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke:#000;
	stroke-width:5.5;
	stroke-linecap:round;
  }
  .ham1 .top {
	stroke-dasharray: 40 139;
  }
  .ham1 .bottom {
	stroke-dasharray: 40 180;
  }
  .ham1.active .top {
	stroke-dashoffset: -98px;
  }
  .ham1.active .bottom {
	stroke-dashoffset: -138px;
  }