.popular {
    background-color: rgb(37, 37, 37);
}

.popular__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.popular__title {
    position: relative;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    color: #d9d9d9;
    margin-bottom: 50px;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100px;
        height: 1px;
        background-color: #34C759;
        right: 0;
        left: 0;
        margin: 0 auto;
        top: 60px;
    }
}

.popular__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.popular__item {
    max-width: 360px;
    margin: 30px 20px;
    //box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background: #2d2c2c;
    border-radius: 6px;
    box-shadow: 0 1px 4px rgba(79, 230, 139, 1),
-20px 0 20px -23px rgba(79, 230, 139, .8),
20px 0 20px -23px rgba(79, 230, 139, .8),
0 0 40px rgba(79, 230, 139, .1);
}

.popular__img {
    @include adaptiveValue("width", 380, 250);
    @include adaptiveValue("height", 226, 190);
    @include adaptiveValue("margin-bottom", 15, 0);
}

.popular__box {
    padding: 20px;
}

.popular__caption {
    display: block;
    font-family: "Alegreya";
    font-weight: 500;
    @include adaptiveValue("font-size", 20, 15);
    letter-spacing: 1.2px;
    @include adaptiveValue("margin-bottom", 20, 12);
    color: #fff;
}

.popular__compound {
    font-family: "Montserrat";
    font-weight: 400;
    @include adaptiveValue("font-size", 12, 10);
    color: #b3b3b3;
    margin-bottom: 24px;
}

.popular__weight{
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: #b3b3b3;
    @include adaptiveValue("margin-bottom", 24, 5);
}

.popular__subbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular__price {
    font-family: "OpenSans";
    font-weight: 600;
    //@include adaptiveValue("margin-bottom", 24, 18);
    color: #32d74b;
}

.popular__button {
    font-weight: 500;
    @include adaptiveValue("font-size", 12, 10);
    text-transform: uppercase;
    text-align: center;
    @include adaptiveValue("padding-top", 10, 7);
    @include adaptiveValue("padding-bottom", 10, 7);
    @include adaptiveValue("padding-left", 20, 16);
    @include adaptiveValue("padding-right", 20, 16);
    background-color: #34C759;
    border-radius: 20px;
}