.potables {
    background-color: rgb(37, 37, 37);
}

.potables__inner {
    padding-top: 150px;
    padding-bottom: 50px;
}

.potables__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.potables__item {
    margin: 10px;
    border: 1px solid white;
}

.popular__img {
}
.popular__box {
}
.popular__caption {
}
.popular__compound {
}
.popular__weight {
}
.popular__subbox {
}
.popular__price {
}
.popular__button {
}